<div class="js-row" [ngClass]="{'t_bg': showDetailsPan}">
  <div class="information-bar">
    <div class="title-group">
      <fa-icon class="t_color obj-exp" (click)="objDetSxpanded=!objDetSxpanded" *ngIf="objDetSxpanded" icon="chevron-down"></fa-icon>
      <fa-icon class="t_color obj-exp" (click)="objDetSxpanded=!objDetSxpanded" *ngIf="!objDetSxpanded" icon="chevron-right"></fa-icon>
      <input class="model-title" type="text" [(ngModel)]="item.title" name="title"/>
      <span model-type-selector></span>
      <!-- <span class="object-prop-count">
        <span>{{item.properties.length}}</span>
      </span> -->
    </div>
    <div class="model-icons">
      <div class="model-info">
        <span class="model-type">
          <span [ngClass]="item.type" class="badge badge-pill badge-primary">{{item.type.toUpperCase()}}
            <span class="object-prop-count">
              <span>{{item.properties.length}}</span>
            </span>
          </span>
        </span>
        <fa-icon class="model-required" icon="asterisk" (click)="item.required=!item.required" [ngClass]="{ 'disabled':item.$root$, 'text-danger': item.required}" tooltip-append-to-body="true"></fa-icon>
        <fa-icon icon="comment-alt" class="model-comment" [ngClass]="{'disabled':!item.description}" ngbTooltip="{{item.description?item.description:(t_prefix+'NO_DESCRIPTION')}}" tooltip-append-to-body="true"></fa-icon>
      </div>
      <div class="model-actions"> <!--keep on same line to remove whitespace -->
        <fa-icon icon="plus" class="obj-add" (click)="addNewProp(item,$data)"></fa-icon>
        <fa-icon icon="pencil-alt" class="model-detail" *ngIf="!showDetailsPan" (click)="showDetailsPan=true"></fa-icon>
        <fa-icon icon="check" class="model-done" *ngIf="showDetailsPan" (click)="showDetailsPan=false" class="text-success"></fa-icon>
        <fa-icon icon="times" class="model-remove" [ngClass]="{'disabled':item.$root$}" (click)="removeitem(item)"></fa-icon>
      </div>
    </div>
  </div>
  <div class="model-det-cont container" *ngIf="showDetailsPan">
    <div class="row">
      <div class="col" style="border-right:1px solid #9E9E9E">
        <div class="t_color bold"> Basic Info </div>
        <div>
          <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
            <div class="form-group">
              <label class="control-label col-xs-2"> Title: </label>
              <div class="col-xs-9">
                <input type="text" class="form-control sm detail-ip" id="foldName"
                  [(ngModel)]="item._key" name="title">
                  <!-- key? -->
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2"> Description: </label>
              <div class="col-xs-9">
                <textarea class="form-control" [(ngModel)]="item.description" name="description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2"> Default: </label>
              <div class="col-xs-9">
                <input type="text" class="form-control sm detail-ip" [(ngModel)]="item.default" name="default"/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col">
        <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
          <div class="t_color bold"> Validations: </div>
          <div *ngIf="!item.$root$">
            <div class="checkbox" style="padding: 2px 0;">
              <label><input type="checkbox" [(ngModel)]="item.required" name="isRequired"> Required </label>
            </div>
          </div>
          <div>
            <div class="checkbox" style="padding: 2px 0;">
              <label><input type="checkbox" [(ngModel)]="item._disallowAdditional" name="disallowAdditional"> Disallow Additional Properties </label>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <label class="model-label-x"> Minimum Properties:</label>
            <input type="number" class="form-control sm detail-ip" [(ngModel)]="item._minProperties" name="minProperties" min="0" placeholder=">=0" />
          </div>
          <div class="form-group col-xs-12">
            <label class="model-label-x"> Maximum Properties:</label>
            <input type="number" class="form-control sm detail-ip" [(ngModel)]="item._maxProperties" name="maxProperties" min="0" placeholder=">=0" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="indent" *ngIf="objDetSxpanded">
  <div *ngFor="let item of item.properties">
    <app-schema-row
      [item]="item"
    >
    </app-schema-row>
  </div>
  <div *ngIf="item.items">
    <app-schema-row
      [item]="item.items"
    >
    </app-schema-row>
  </div>
</div>
