<div class="js-row" [ngClass]="{'t_bg': showDetailsPan}">
  <div class="information-bar">
    <div class="title-group">
      <div class="obj-exp" (click)="objDetSxpanded=!objDetSxpanded">
        <div *ngIf="item.properties">
          <fa-icon class="t_color" *ngIf="objDetSxpanded" icon="chevron-down"></fa-icon>
          <fa-icon class="t_color" *ngIf="!objDetSxpanded" icon="chevron-right"></fa-icon>
        </div>
      </div>
      <input class="model-title" type="text" [(ngModel)]="item.title" name="title"/>
    </div>
    <div class="model-icons">
      <div class="model-info">
        <div ngbDropdown *ngIf="!item.isRoot" class="d-inline-block">
          <button [ngClass]="item.type" class="badge badge-pill badge-primary" id="dropdownItemType" ngbDropdownToggle>
            {{item.type.toUpperCase()}}
            <span class="object-prop-count">
              <span *ngIf="item.properties">({{item.properties.length}})</span>
            </span>
          </button>
          <div ngbDropdownMenu class="type-selector" aria-labelledby="dropdownItemType">
            <button class="badge badge-pill badge-primary string" (click)="item.changeType('string')">STRING</button>
            <button class="badge badge-pill badge-primary number" (click)="item.changeType('number')">NUMBER</button>
            <button class="badge badge-pill badge-primary object" (click)="item.changeType('object')">OBJECT</button>
            <button class="badge badge-pill badge-primary array" (click)="item.changeType('array')">ARRAY</button>
          </div>
        </div>
        <span *ngIf="item.isRoot" [ngClass]="item.type" class="badge badge-pill badge-primary">{{item.type.toUpperCase()}}
          <span class="object-prop-count">
            <span *ngIf="item.properties">({{item.properties.length}})</span>
          </span>
        </span>
        <ng-template #tipContent>{{item.required ? 'Required' : 'Not Required'}}</ng-template>
        <button class="wrapper-only" [disabled]="item.isRoot " (click)="item.required=!item.required"><fa-icon class="model-required" icon="asterisk" [ngClass]="{ 'disabled':item.isRoot, 'text-danger': item.required}" [ngbTooltip]="tipContent"></fa-icon></button>
        <fa-icon icon="comment-alt" class="model-comment" [ngClass]="{'disabled':!item.description}" ngbTooltip="{{item.description}}"></fa-icon>
      </div>
      <div class="model-actions"> <!--keep on same line to remove whitespace -->
        <button class="wrapper-only" [disabled]="!item.properties" (click)="addNewProp(item)"><fa-icon icon="plus" class="obj-add"></fa-icon></button>
        <fa-icon icon="pencil-alt" class="model-detail" *ngIf="!showDetailsPan" (click)="showDetailsPan=true"></fa-icon>
        <fa-icon icon="check" class="model-done" *ngIf="showDetailsPan" (click)="showDetailsPan=false" class="text-success"></fa-icon>
        <button class="wrapper-only" [disabled]="item.isRoot || item.isArrayItem" (click)="removeItem(item)"><fa-icon icon="times" class="model-remove" [ngClass]="{'disabled':item.isRoot}"></fa-icon></button>
      </div>
    </div>
  </div>
  <div class="model-det-cont container" *ngIf="showDetailsPan">
    <div class="row">
      <div class="col" style="border-right:1px solid #9E9E9E">
        <div class="t_color bold"> Basic Info </div>
        <div>
          <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
            <div class="form-group">
              <label class="control-label col-xs-2"> Title: </label>
              <div class="col-xs-9">
                <input type="text" class="form-control sm detail-ip" id="foldName" [(ngModel)]="item._key" name="title"> <!-- key? -->
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2"> Description: </label>
              <div class="col-xs-9">
                <textarea class="form-control" [(ngModel)]="item.description" name="description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2"> Default: </label>
              <div class="col-xs-9">
                <input type="text" class="form-control sm detail-ip" [(ngModel)]="item.default" name="default"/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col">
        <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
          <div class="t_color bold"> Validations: </div>
          <div *ngIf="!item.isRoot">
            <div class="checkbox" style="padding: 2px 0;">
              <label><input type="checkbox" [(ngModel)]="item.required" name="isRequired"> Required </label>
            </div>
          </div>
          <div>
            <div class="checkbox" style="padding: 2px 0;">
              <label><input type="checkbox" [(ngModel)]="item._disallowAdditional" name="disallowAdditional"> Disallow Additional Properties </label>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <label class="model-label-x"> Minimum Properties:</label>
            <input type="number" class="form-control sm detail-ip" [(ngModel)]="item._minProperties" name="minProperties" min="0" placeholder=">=0" />
          </div>
          <div class="form-group col-xs-12">
            <label class="model-label-x"> Maximum Properties:</label>
            <input type="number" class="form-control sm detail-ip" [(ngModel)]="item._maxProperties" name="maxProperties" min="0" placeholder=">=0" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="indent" *ngIf="objDetSxpanded">
  <div *ngFor="let item of item.properties">
    <app-schema-row [item]="item"></app-schema-row>
  </div>
</div>
<div class="indent" *ngIf="item.items">
  <app-schema-row [item]="item.items"></app-schema-row>
</div>
