<div class="model-det-cont container">
  <div class="row">
    <!-- Basic Info -->
    <div class="col" style="border-right:1px solid #9E9E9E">
      <div class="t_color bold"> Basic Info </div>
      <div>
        <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
          <div class="form-group">
            <label class="control-label col-xs-2"> Title: </label>
            <div class="col-xs-9">
              <input type="text" class="form-control sm detail-ip" id="foldName" [(ngModel)]="item.title" name="title"> <!-- key? -->
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-2"> Description: </label>
            <div class="col-xs-9">
              <textarea class="form-control" [(ngModel)]="item.description" name="description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-2"> Default: </label>
            <div class="col-xs-9">
              <input type="text" class="form-control sm detail-ip" [(ngModel)]="item.default" name="default"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  <!-- Type Specfic -->
    <!-- String -->
    <div class="col" *ngIf="item.type === 'string'">
      <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
        <div class="t_color bold"> Validations: </div>
        <div *ngIf="!item.isRoot">
          <div class="checkbox" style="padding: 2px 0;">
            <label><input type="checkbox" [(ngModel)]="item.isRequired" name="isRequired"> Required </label>
          </div>
        </div>
        <div>
          <div class="checkbox" style="padding: 2px 0;">
            <label><input type="checkbox" [(ngModel)]="item._disallowAdditional" name="disallowAdditional"> Disallow Additional Properties </label>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label class="model-label-x"> Minimum Properties:</label>
          <input type="number" class="form-control sm detail-ip" [(ngModel)]="item.minProperties" name="minProperties" min="0" placeholder=">=0" />
        </div>
        <div class="form-group col-xs-12">
          <label class="model-label-x"> Maximum Properties:</label>
          <input type="number" class="form-control sm detail-ip" [(ngModel)]="item.maxProperties" name="maxProperties" min="0" placeholder=">=0" />
        </div>
      </form>
    </div>
    <!-- Number  -->

    <!-- Object -->
    <div class="col" *ngIf="item.type === 'object'">
      <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
        <div class="t_color bold"> Validations: </div>
        <div *ngIf="!item.isRoot">
          <div class="checkbox" style="padding: 2px 0;">
            <label><input type="checkbox" [(ngModel)]="item.isRequired" name="isRequired"> Required </label>
          </div>
        </div>
        <div>
          <div class="checkbox" style="padding: 2px 0;">
            <label><input type="checkbox" [(ngModel)]="item._disallowAdditional" name="disallowAdditional"> Disallow Additional Properties </label>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label class="model-label-x"> Minimum Properties:</label>
          <input type="number" class="form-control sm detail-ip" [(ngModel)]="item.minProperties" name="minProperties" min="0" placeholder=">=0" />
        </div>
        <div class="form-group col-xs-12">
          <label class="model-label-x"> Maximum Properties:</label>
          <input type="number" class="form-control sm detail-ip" [(ngModel)]="item.maxProperties" name="maxProperties" min="0" placeholder=">=0" />
        </div>
      </form>
    </div>
    <!-- Array -->

  </div>
</div>
